<p>
  <strong><%= comment.user.name %>:</strong> <%= comment.reply %>
</p>
<p>
  <% if user_signed_in? %>
    <% if current_user.id == comment.user.id %>
      <%= link_to '削除する', sake_comment_path(comment.sake, comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% else %>
      <td></td>
    <% end %>
  <% else %>
    <td></td>
  <% end %>
</p>

