<%= form_for [sake, comment], url: sake_comments_path(sake) do |f| %>
  <div class="field">
    <%= f.label :reply %><br>
    <%= f.text_area :reply %>
  </div>
  <div class="actions">
    <%= f.submit "コメントする"%>
  </div>
<% end %>