.mincho-font {
  font-family: "Hiragino Mincho Pro", "ヒラギノ明朝 Pro W3", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

header, html {
  font-family: "Hiragino Mincho ProN", "游明朝", "YuMincho", "MS PMincho", "ＭＳ 明朝", serif;
}

main, html {
  font-family: "Hiragino Mincho ProN", "游明朝", "YuMincho", "MS PMincho", "ＭＳ 明朝", serif;
}

footer, html {
  font-family: "Hiragino Mincho ProN", "游明朝", "YuMincho", "MS PMincho", "ＭＳ 明朝", serif;
}

div, html {
  font-family: "Hiragino Mincho ProN", "游明朝", "YuMincho", "MS PMincho", "ＭＳ 明朝", serif;
}

li, html {
  font-family: "Hiragino Mincho ProN", "游明朝", "YuMincho", "MS PMincho", "ＭＳ 明朝", serif;
}

p, html {
  font-family: "Hiragino Mincho ProN", "游明朝", "YuMincho", "MS PMincho", "ＭＳ 明朝", serif;
}

ul, html {
  font-family: "Hiragino Mincho ProN", "游明朝", "YuMincho", "MS PMincho", "ＭＳ 明朝", serif;
}

td, html {
  font-family: "Hiragino Mincho ProN", "游明朝", "YuMincho", "MS PMincho", "ＭＳ 明朝", serif;
}